@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
*:focus {
    outline: 0 !important;
}

.title{
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700!important;
    font-size: 2rem!important;
    color: #4e4b4a;
    line-height: 0;
}
.cl_dark{
    color: #4e4b4a!important;
}
a .fa{
    color: #C1B7C2;
}
.image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo_mock{
    border-radius: 50%;
    border: .7em solid #fd384d;
    height: 35px;
    width: 35px;
}
.initials{
    border-radius: 50%;
    background: #349f8e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}
.logo_mock_dot{
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fd384d;
    height: 9px;
    width: 9px;
}
.notifications_active{
    border-radius: 50%;
    position: absolute;
    top:3px;
    left: -2px;
    background: #349f8e;
    height: 10px;
    border: 2px solid #ffffff;
    width: 10px;
}
.header_container{
    background: #ffffff;
    padding: 0 2rem;
    box-shadow: 0 0 0 32px rgba(0, 0, 0, 0.00001);
}
.nav_active{
    border-bottom: 4px solid #349f8e;
    color: #4e4b4a;
}
.add_btn{
    background: #349f8e;
    border-radius: 25px;
    color: #ffffff;
    padding: .5rem 1.5rem;
    outline: none;
    border: none;
}
.chkbox label {
    font-size: 26px;
    color: #4D4D4D;
    position: absolute;
    z-index: 10;
    padding-left: 50px;
}
label{
    margin-bottom: 0!important;
    cursor: pointer;
}
.chkbox input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.chkbox input:checked ~ .check {
    border-color: #C1B7C2;
    box-shadow: 0px 0px 0px 15px #C1B7C2 inset;
}
.chkbox input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
}
.chkbox .check {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #C1B7C2;
    box-shadow: 0px 0px 0px 0px #C1B7C2 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.chkbox .check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.flex_items{
    color: #C1B7C2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#employee tbody tr:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 99999;
}
#employee tbody tr:hover .fa-trash-o{
    color: #fd384d!important;
}

.side_bar{
    background: #ffffff;
    box-shadow: 0 0 0 32px rgba(0, 0, 0, 0.001);
    border-radius: 15px;
    min-width: 35%;
    position: relative;
}
.side_bar .btn_wrapper{
    position: absolute;
    bottom: -1.5rem;
    min-width: 100%;
    margin-left: -2rem;
    text-align: center;
}
.btn_wrapper button{
    margin: 0 auto;
    background: #3b22bf;
    border-radius: 25px;
    color: #ffffff;
    padding: .5rem 1.5rem;
    outline: none;
    border: none;
}
.flex_items_flex_start{
    align-items: start!important;
}
.justify_content_start{
    justify-content: start;
}
#employee tbody tr{
    background: #ffffff;
}
#employee{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
}

#employee td{
    color: #4e4b4a;
    padding: 1rem 20px;
}
#employee td>span{
    color: #C1B7C2;
    font-size: 12px;
    display: block;
}
#employee td>.fa{
    font-size: 20px;
    color: #C1B7C2;
    font-weight: lighter;
}
#employee tr:first-child{
    padding-top: 0!important;
}
#employee thead td {
    color: #4e4b4a;
    padding: 0 20px;
}


tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu_icons
{
    font-size: 25px!important;
}
@media (max-width: 720px){
    html, body{
        overflow-x: hidden;
    }
    .header_container{
        padding: 1rem 15px;
    }
    table  { display: inline-block; overflow-x: scroll; }

}

